* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.hero__section {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1.5rem;
  justify-content: space-around;
}
.highlight {
  color: teal;
}
.hero__section--text {
  display: flex;
  flex-direction: column;
}
.hero__section--text h1 {
  font-size: 4rem;
}
.hero__section--text p {
  padding-top: 2rem;
  font-size: 1.7rem;
}

.hero__section--buttons img {
  padding-top: 2rem;
  margin-right: 1rem;
  width: 190px;
  height: auto;
}
.hero__section--image img {
  height: 39rem;
}

/* Features Section */
.mobile-on {
  display: none;
}
.feature__section {
  padding: 1.5rem;
}
.feature__section h2 {
  font-size: 2rem;
  text-align: center;
}
.features__main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}
.feature__section--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feature__mobile img {
  height: 30rem;
}
.feature {
  padding: 2rem;
  display: flex;
  align-items: center;
}
.feature__img {
  padding: 1rem;
}
.feature__img img {
  width: 4rem;
}
.feature__txt p {
  font-size: 1.4rem;
  font-weight: 600;
}
.left {
  flex-direction: row-reverse;
}
.feature img {
  height: 5rem;
}
.download {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
}
.download img {
  width: 200px;
  height: auto;
}
/* How Section */
.how__section {
  background-color: rgb(0, 0, 0);
}
.how__section h2 {
  text-align: center;
  color: white;
  padding-top: 1.5rem;
}
.steps__section {
  padding: 3rem;
  align-items: center;
  justify-content: space-around;
  display: flex;
}
.step {
  /* background-color: white; */
  display: inline-block;

  text-align: center;
  padding: 2rem;
}
/* .circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: white;
  text-align: center;
} */
/* .step i {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 7rem;
} */
.step img {
  width: 8rem;
}
.step p {
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
}
/* Footer */
footer {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  font-size: 1.2rem;
}
.contact {
  padding-right: 2rem;
}
footer a {
  color: black;
}
/* Mobile Responisves */
@media (min-width: 768px) and (max-width: 1024px) and (max-width: 991px) {
  .hero__section {
    flex-direction: column;
  }
  .hero__section--buttons {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .hero__section--buttons img {
    width: 200px;
  }
  .hero__section--text {
    text-align: center;
    flex-direction: column;
  }
  .hero__section--image {
    align-items: center;
  }
  .hero__section--image img {
    margin-top: 1.4rem;
  }
  .feature__section--main {
    flex-direction: column;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .hero__section {
    flex-direction: column;
  }
  .hero__section--buttons {
    padding-top: 0.2rem;
    padding-bottom: 1rem;
  }
  .hero__section--buttons img {
    width: 200px;
  }
  .hero__section--text {
    text-align: center;
    flex-direction: column;
  }
  .hero__section--text p {
    padding-top: 1rem;
    font-size: 1.2rem;
  }
  .hero__section--image {
    align-items: center;
  }
  .hero__section--image img {
    margin-top: 1.2rem;
    margin-bottom: 2rem;
  }

  .feature__mobile img {
    height: 20rem;
  }
  .feature__img img {
    width: 1.5rem;
  }
  .feature {
    height: 4rem;

    overflow: hidden;
  }
  .feature__section--main {
    justify-content: space-around;
    margin-left: -1.3rem;
    margin-right: -1.3rem;
  }
  .feature__txt p {
    font-weight: 600;
    width: 6rem;
    font-size: 1rem;
  }

  .feature__section {
    display: flex;
    flex-direction: column;
  }
  .mobile-off {
    display: none;
  }
  .mobile-on {
    display: flex;
    align-items: center;
  }
  .download img {
    width: 130px;
  }
  .left {
    flex-direction: row;
  }
  .step img {
    width: 90px;
  }
  #numbered {
    display: none;
  }
  .steps__section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .step {
    padding: 2rem;
  }
  .step img {
    width: 8rem;
  }
  .step p {
    margin: 0.5rem;
    font-size: 1.7rem;
  }
  footer p {
    font-size: 1rem;
  }
  .hero__section--text h1 {
    font-size: 2.5rem;
  }
}
